[package]
name = "casper_fidelity"
version = "0.1.0"
edition = "2021"

[dependencies]
casper-contract = "3.0"
casper-types = "3.0"

[lib]
crate-type = ["cdylib"]

[profile.release]
codegen-units = 1
lto = true
opt-level = "z"
panic = "abort"
strip = true
